.gallery-wall-wrapper-wrapper {
  position: relative;
}

@media (orientation: landscape) {
  .gallery-wall-wrapper-wrapper {
    height: 100vh;
  }
}

/* Squares fall into portrait mode */
@media (orientation: portrait) {
  .gallery-wall-wrapper-wrapper {
    height: 100vw;
  }
}

.vizWrapper,
.bGridWrapper,
.vizOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.vizWrapper {
  z-index: -100;
}

.vizOverlay {
  background-color: #000000;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.666s;
  transition-timing-function: linear;
}

.vizOverlayOff {
  opacity: 0;
}

/*******************************************************************************
*  BROKEN GRID
*******************************************************************************/

/* .bGridWrapper {
  z-index: -200;
  background-color: #080808;
} */

.bGridBox {
  position: absolute;
}


/*******************************************************************************
*  FEATURING ON MAIN PAGES
*******************************************************************************/

.featureWrapper {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.featureText {
  position: absolute;
  z-index: 100;
  right: 1.5rem;
  bottom: 1.5rem;
  color: #ffffff;
  font-size: 1.5rem;
}
