.gallery-wall-container {
  --gallery-border-width: 2px;
  --gallery-border-colour: var(--color-body);

  position: relative;
  border: var(--gallery-border-width) solid var(--gallery-border-colour);
  margin-bottom: calc(var(--gallery-border-width) * -2);
}

@media (orientation: landscape) {
  .gallery-wall-container {
    height: 100vh;
  }
}

/* Squares fall into portrait mode */
@media (orientation: portrait) {
  .gallery-wall-container {
    height: 100vw;
  }
}

.gallery-wall-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.gallery-box {
  position: absolute;
  overflow: hidden;
  border: var(--gallery-border-width) solid var(--gallery-border-colour);
  border-collapse: collapse;
  
  background-color: var(--color-bg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
