.navigation-toolbar {
  padding: var(--space-unit-sm) 0;
  height: var(--toolbar-height);
}
.nav-btn-container {
  display: flex;
  justify-content: space-between;
}
.nav-btn-container > .navigation-button,
.nav-btn-container > .navigation-button-link {
  flex: 1 0 var(--toolbar-button-width);
}
.navigation-button.disabled {
  opacity: 0.17;
}
.navigation-icon {
  width: var(--toolbar-button-width);
  height: var(--toolbar-button-width);
}

.navigation-button.ui.light,
.navigation-button.ui.dark {
  opacity: 0.75;
}
